body{
  width:100%;
  margin:0;
  padding:0;
  display:flex;
}

.header{
  position:absolute;
  display:block;
  top : 0;
  width:100%;
  height:6vh;
  background-color : white;
  color: black;
  font-size:3vh;
  font-family:sans-serif;
}

.audio{
  position:absolute;
  top:0;
  right:0;
  display:flex;
}

audio{
  padding:1.5vh;
  height:3vh;
}



audio:focus{outline:0;}

.imgbox{
    position: relative;
    display: inline-block;
    top : 6vh;
    margin : 0;
    width: 39%;
    height: 94vh;
    overflow: hidden;
    border: black solid 1px;
    box-sizing: border-box;
  }

  .chatbox{
    position: relative;
    display: inline-block;
    top : 6vh;
    width: 22%;
    height: 94vh;
    border: black solid 1px;
    box-sizing: border-box;
  }

  .streambox{
    position: relative;
    display: inline-block;
    top : 6vh;
    margin : 0;
    width: 39%;
    height: 94vh;
    overflow: hidden;
    border: black solid 1px;
    box-sizing: border-box;
  }

#draggable1 {
  position: absolute;
  bottom: 16%;
  left: 70%;
  width: 31%;
  height: 31%;
  z-index:1;
}

#draggable14 {
  position: absolute;
  bottom: 16%;
  left: 70%;
  width: 31%;
  height: 31%;
  z-index:1;
}


#draggable2 {
  position: absolute;
  top: 62%;
  left: 0%;
  width: 26%;
  height: 26%;
  z-index:1;
}

#draggable11 {
  position: absolute;
  top: 62%;
  left: 0%;
  width: 26%;
  height: 7%;
  z-index:1;
}


#draggable12 {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 26%;
  height: 10%;
  z-index:1;
}

#draggable13 {
  position: sticky;
  top: 62%;
  left: 0%;
  width: 9%;
  height: 8%;
  z-index:101;
}


#draggable3 {
  position: absolute;
  top: 2%;
  right: 25%;
  width: 16%;
  height: 9%;
  z-index:1;
}

#draggable4 {
  position: absolute;
  bottom: 10%;
  left: 23%;
  width: 17%;
  height: 17%;
  z-index:1;
}

#draggable5 {
  position: absolute;
  bottom: 5%;
  left: 40%;
  width: 30%;
  height: 30%;
  z-index:1;
}

#draggable6 {
  position: absolute;
  top: 37%;
  right: 0%;
  width: 20%;
  height: 20%;
  z-index:1;
}

#draggable7 {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 20%;
  height: 10%;
  z-index:1;
}

#draggable8 {
  position: absolute;
  top: 0%;
  right: 38%;
  width: 9%;
  height: 9%;
  z-index:1;
}

#draggable9 {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 24%;
  height: 24%;
  z-index:1;
}

#draggable10 {
  position: absolute;
  top: 44%;
  left: 0%;
  width: 20%;
  height: 10%;
  z-index:1;
}

#draggable15 {
  position: absolute;
  top: 87%;
  left: 10%;
  width: 5%;
  height: 5%;
  z-index:1;
}

#draggable16 {
  position: absolute;
  top: 70%;
  left: 7%;
  width: 9%;
  height: 5%;
  z-index:1;
}

#draggable17 {
  position: absolute;
  top: 5%;
  right: 7%;
  width: 9%;
  height: 2%;
  z-index:1;
}

#draggable18 {
  position: absolute;
  top: 80%;
  left: 2%;
  width: 6%;
  height: 4%;
  z-index:102;
}

#draggable19 {
  position: absolute;
  top: 40%;
  right: 2%;
  width: 6%;
  height: 4%;
  z-index:102;
}

#draggable20 {
  position: absolute;
  top: 50%;
  left: 2%;
  width: 9%;
  height: 4%;
  z-index:102;
}

#drag1, #drag2, #drag3, #drag4, #drag5, #drag6, #drag7, #drag8, #drag9, #drag10, #drag11, #drag12, #drag13, #drag14, #drag15, #drag16, #drag17, #drag18, #drag19, #drag20 {
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  position: absolute;
}

#rotateable1, #rotateable2, #rotateable3, #rotateable4, #rotateable5, #rotateable6, #rotateable7, #rotateable8, #rotateable9, #rotateable10, #rotateable11, #rotateable12, #rotateable13, #rotateable14, #rotateable15, #rotateable16, #rotateable17, #rotateable18, #rotateable19, #rotateable20 {
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  position: absolute;
  //background: black;
}

#rotate3, #rotate1, #rotate5, #rotate6, #rotate14, #rotate19 {
  position: absolute;
  width: 70px;
  height: 22px;
  left: -64px;
  top: 10px;
  background: white;
  border: black solid 1px;
  box-sizing: border-box;
  cursor:grab;
  z-index: -1;
  padding:2px;

}

#rotate7, #rotate8, #rotate17{
  position: absolute;
  width: 22px;
  height: 70px;
  left: 0px;
  top: 80px;
  background: white;
  border: black solid 1px;
  box-sizing: border-box;
  cursor:grab;
  z-index: -1;
  padding:2px;
writing-mode: vertical-rl;
text-align: right;
}

#rotate17{
  position: absolute;
  width: 22px;
  height: 70px;
  left: 0px;
  top: 20px;
  background: white;
  border: black solid 1px;
  box-sizing: border-box;
  cursor:grab;
  z-index: -1;
  padding:2px;
}


#rotate2, #rotate4, #rotate9, #rotate10, #rotate11, #rotate12,#rotate13, #rotate15, #rotate16, #rotate18, #rotate20{
  position: absolute;
  width: 70px;
  height: 20px;
  right: -48px;
  top: 10px;
  background: white;
  border: black solid 1px;
  box-sizing: border-box;
  cursor:grab;
  z-index: -1;
  padding:2px;
  text-align: right;

}
